body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
}

h1 {
	font-size: 45px;
	color: rgb(68, 68, 68);
	font-weight: 500;
	margin: 40px;
	text-decoration: underline solid #46B1E1 5px;
}

h2 {
	font-size: 30px;
	color: rgb(68, 68, 68);
	font-weight: 500;
	margin: 40px;
}

p {
	font-size: 15px;
	color: rgb(68, 68, 68);
	margin-left: 40px;
}

a {
	color: #46B1E1;
	transition-duration: .5s;
}

img {
	margin: 10px 40px
}

li {
	margin: 10px 40px;
}

form {
	margin: 20px 40px;
	height: 900px;
	display: flex;
	flex-direction: column;
	align-items: start;
}

input {
	height: 25px;
	width: 500px;
	border-radius: 0px;
	border: solid 1px;
}

#message {
	height: 500px;
	width: 1000px;
	font-size: 15px;
}

label {
	margin-top: 30px;
	margin-bottom: 10px;
}

#submit {
	margin-top: 20px;
	background-color: #46B1E1;
	border: none;
	font-size: 25px;
	height: 70px;
	width: 150px;
	color: white;
	transition-duration: .5s;
}

#submit:hover {
	width: 175px;
}

/*menu*/
.menu {
	background-color: rgb(68, 68, 68);
	display: flex;
	align-items: center;
}

.logo {
	flex-grow: 1;
	font-family: 'Philosopher', 'Times New Roman', sans-serif;
	font-size: 60px;
	margin: 10px;
}

.logo>span {
	color: #46B1E1;
	font-size: 70px;
}

.menu-button {
	font-size: 18px;
	padding: 15px 20px;
	margin: 5px;
	color: white;
	text-decoration: none;
}

.menu-button:hover {
	padding: 15px 30px;
	background-color: #46B1E1;
	color: white;
}

/*footer*/
.footer {
	background-color: rgb(33, 33, 33);
	color: white;
	display: flex;
	justify-content: space-between;
	padding: 30px
}

.footer-title {
	font-size: 30px;
	text-decoration: underline #46B1E1 solid 3px;
}

.sponsors-photos>img {
	margin-left: 0px;
	height: 100px;
}

.adress {
	display: flex;
	justify-content: space-between;
}

.contact-text {
	margin: 10px 0px;
	font-size: 20px;
	color: white;
}

.disclaimer-link {
	color: white;
}