/* spacing */

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

thead th:nth-child(1) {
	width: 30%;
}

thead th:nth-child(2) {
	width: 35%;
}

thead th:nth-child(3) {
	width: 30%;
}

thead th:nth-child(4) {
	width: 15%;
}

th,
td {
	padding: 20px;
}

th {
	letter-spacing: 2px;
}

td {
	letter-spacing: 1px;
}

tbody td {
	text-align: center;
}

tfoot th {
	text-align: right;
}

thead {
	background-color: var(--secondary);
	border: solid 3px var(--primary);
}

tbody tr:nth-child(odd) {
	background-color: var(--background);
}

tbody tr:nth-child(even) {
	background-color: var(--secondary);
}

#disclaimer {
	margin-top: 30px;
	font-size: 20px;
}