@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--text: #edfeff;
	--background: #111a1d;
	--primary: #009fd4;
	--secondary: #003142;
	--accent: #33d6ff;
}

body {
	color: var(--text);
	background-color: var(--background);
	margin: 0;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
}

h1 {
	overflow: scroll;
	font-size: 3rem;
	color: var(--text);
	font-weight: 800;
	margin: 40px 2vw;
	text-decoration: underline solid var(--accent) 5px;
}

h2 {
	overflow: scroll;
	border-radius: 30px;
	padding: 10px 3vw;
	font-size: 30px;
	color: var(--text);
	font-weight: 700;
	margin: 40px 2vw;
	background-color: var(--primary);
}

h3 {
	font-size: 20px;
	color: var(--text);
	font-weight: 600;
	margin: 40px 5vw;
}

p {
	font-size: 15px;
	color: var(--text);
	margin-left: 5vw;
}

a {
	font-weight: 700;
	color: var(--primary);
	transition: scale .5s;
	border-radius: 30px;
}

a:hover {
	color: var(--accent);
}

img {
	border-radius: 30px;
	margin: 50px 2vw
}

li {
	font-size: 25px;
	margin: 30px clamp(3px, 5vw, 80px);
}

form {
	margin: 20px 5vw;
	height: 900px;
	display: flex;
	flex-direction: column;
	align-items: start;
}

input {
	margin-left: -10px;
	padding: 3px 10px;
	font-size: 20px;
	border-radius: 30px;
	height: 25px;
	width: clamp(15rem, 50vw, 30rem);
	border: solid 1px;
	background-color: var(--text);
}

#message {
	margin-left: -1rem;
	background-color: var(--text);
	padding: 1rem;
	border-radius: 30px;
	height: clamp(15rem, 50vh, 500px);
	width: clamp(15rem, 70vw, 1000px);
	font-size: 15px;
	border: solid 1px;
}

label {
	margin-top: 30px;
	margin-bottom: 10px;
}

button {
	font-weight: 700;
	border-radius: 30px;
	margin-top: 20px;
	background-color: var(--primary);
	border: none;
	font-size: 25px;
	min-height: 70px;
	min-width: 150px;
	color: var(--text);
	transition-duration: .5s;
}

button:hover {
	background-color: var(--accent);
	min-width: 175px;
}

/*menu*/
header {
	width: 100%;
	z-index: 100;
	position: sticky;
	top: 0px;
	background-color: var(--secondary);
	display: flex;
	align-items: center;
}

.logo {
	flex-grow: 1;
	font-family: 'Times New Roman', serif;
	font-size: 60px;
	margin: 10px;
}

.logo>span {
	color: var(--accent);
	font-size: 70px;
}

.menu-button {
	transition: all .6s;
	font-size: 1.1rem;
	padding: 1rem 1vw;
	margin: 5px;
	color: var(--text);
	text-decoration: none;
}

.menu-button:hover {
	padding: 1rem 1.5vw;
	background-color: var(--primary);
	color: var(--text);
}

.menu-button:active {
	background-color: var(--background);
	border: solid 0.3rem var(--text)
}

#burger-menu-button {
	z-index: 2;
	padding: 15px 30px;
	background-color: var(--primary);
	color: var(--text);
	display: none;
	width: 0px;
}

nav {
	flex-direction: column;
	align-items: start;
	transition: right 1s;
	padding: 1rem;
}

.menu-open {
	display: flex;
	right: 0%;
}

@media(max-width:700px) {
	nav {
		width: 50vw;
		height: 100vh;
		right: -100%;
		top: 0px;
		background-color: color-mix(in srgb, var(--background) 50%, black 50%);
		position: absolute;
		display: none;
	}

	#burger-menu-button {
		width: 2rem;
		display: block;
	}
}

/*footer*/
footer {
	flex-wrap: wrap;
	background-color: var(--secondary);
	color: var(--text);
	display: flex;
	justify-content: space-between;
	padding: 30px
}

.footer-title {
	font-size: 30px;
	text-decoration: underline var(--accent) solid 3px;
}

.sponsors-photos>img {
	border-radius: 0px;
	margin-left: 0px;
	height: clamp(10px, 20vw, 100px);
}

.adress {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}

.contact-text {
	margin: 10px 0px;
	font-size: 20px;
	color: var(--text);
}

.disclaimer-link {
	color: var(--text);
}