:root {
	--text: #edfeff;
	--background: #111a1d;
	--primary: #0099cc;
	--secondary: #003142;
	--accent: #00ceff;
}

body {
	color: var(--text);
	background-color: var(--background);
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
}

h1 {
	font-size: 3rem;
	color: var(--text);
	font-weight: 800;
	margin: 40px 2vw;
	text-decoration: underline solid var(--accent) 5px;
}

h2 {
	border-radius: 30px;
	padding: 10px 30px;
	font-size: 30px;
	color: var(--text);
	font-weight: 700;
	margin: 40px 2vw;
	background-color: var(--primary);
}

h3 {
	font-size: 20px;
	color: var(--text);
	font-weight: 600;
	margin: 40px 2vw;
}

p {
	font-size: 15px;
	color: var(--text);
	margin-left: 40px;
}

a {
	color: var(--primary);
	transition-duration: .5s;
	border-radius: 30px;
}

a:hover {
	color: var(--accent);
}

img {
	border-radius: 30px;
	margin: 50px 40px
}

li {
	font-size: 25px;
	margin: 30px 50px;
}

form {
	margin: 20px 40px;
	height: 900px;
	display: flex;
	flex-direction: column;
	align-items: start;
}

input {
	padding: 3px 10px;
	font-size: 20px;
	border-radius: 30px;
	height: 25px;
	min-width: 150px;
	border: solid 1px;
	background-color: var(--text);
}

#message {
	border-radius: 30px;
	height: 500px;
	width: 1000px;
	font-size: 15px;
	border: solid 1px;
}

label {
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 10px;
}

#submit {
	margin-top: 20px;
	background-color: var(--primary);
	border: none;
	font-size: 25px;
	height: 70px;
	width: 150px;
	color: var(--text);
	transition-duration: .5s;
}

#submit:hover {
	background-color: var(--accent);
	width: 175px;
}

/*menu*/
header {
	z-index: 100;
	position: sticky;
	top: 0px;
	background-color: var(--secondary);
	display: flex;
	align-items: center;
}

.logo {
	flex-grow: 1;
	font-family: 'Philosopher', 'Times New Roman', sans-serif;
	font-size: 60px;
	margin: 10px;
}

.logo>span {
	color: var(--primary);
	font-size: 70px;
}

.menu-button {
	transition: all .6s;
	font-size: 1.1rem;
	padding: 1rem 1vw;
	margin: 5px;
	color: var(--text);
	text-decoration: none;
}

.menu-button:hover {
	padding: 1rem 1.5vw;
	background-color: var(--primary);
	color: var(--text);
}

.menu-button:active {
	background-color: var(--background);
	border: solid 0.3rem var(--text)
}

#burger-menu-button {
	z-index: 2;
	padding: 15px 30px;
	background-color: var(--primary);
	color: var(--text);
	display: none;
	width: 0px;
}

nav {
	flex-direction: column;
	align-items: start;
	transition: right 1s;
	padding: 1rem;
}

.menu-open {
	display: flex;
	right: 0%;
}

@media(max-width:700px) {
	nav {
		width: 50vw;
		height: 100vh;
		right: -100%;
		top: 0px;
		background-color: color-mix(in srgb, var(--background) 50%, black 50%);
		position: absolute;
		display: none;
	}

	#burger-menu-button {
		width: 2rem;
		display: block;
	}

	.footer,
	.adress,
	.info,
	#bestuur {
		flex-direction: column;
	}
}

/*footer*/
.footer {
	background-color: var(--secondary);
	color: var(--text);
	display: flex;
	justify-content: space-between;
	padding: 30px
}

.footer-title {
	font-size: 30px;
	text-decoration: underline var(--accent) solid 3px;
}

.sponsors-photos>img {
	border-radius: 0px;
	margin-left: 0px;
	height: 100px;
}

.adress {
	display: flex;
	justify-content: space-between;
}

.contact-text {
	margin: 10px 0px;
	font-size: 20px;
	color: var(--text);
}

.disclaimer-link {
	color: var(--text);
}