<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles.css">
	<title>Contact</title>
</head>

<body>
	<%- include('templates/header') %>
		<main>
			<h1>Contact</h1>
			<h2>Zuid-Oost-Vlaamse kinesitherapeutenkring vzw</h2>
			<p>Groendal 67 9500 Geraardsbergen<br>
				tel: 054/41.01.04<br>
				email: ZOKKinekring@gmail.com</p>
			<!-- <h2>Of gebruik onderstaand contactformulier</h2> -->
			<h2>Contactformulier tijdelijk niet beschikbaar. Gebruik bovenstaande gegevens.</h2>
			<!-- <form action="/send-mail" method="post">
				<label for="from">E-mail adres</label>
				<input type="email" name="from" id="from" required>
				<label for="subject">Onderwerp</label>
				<input type="text" name="subject" id="subject" required>
				<label for="body">Bericht</label>
				<textarea name="body" id="body" cols="30" rows="10" required></textarea>
				<button>Verstuur</button>
			</form> -->
		</main>
		<%- include('templates/footer') %>
</body>

</html>