<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles.css">
	<title>Pagina niet gevonden</title>
</head>

<body>
	<%- include('./templates/header') %>
		<main>
			<h1>Pagina niet gevonden</h1>
		</main>
		<%- include('./templates/footer') %>
</body>

</html>