<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
	<link rel="stylesheet" href="/admin.css">
	<title>Nieuw bericht</title>
</head>

<body>
	<%- include('./templates/header') %>
		<main>
			<h1>Nieuw bericht</h1>
			<form action="post-berichten" method="post" encType="multipart/form-data">
				<label for="title">Titel*</label>
				<input type="text" name="title" required>
				<label for="name">Permalink (enkel kleine letters en -)*</label>
				<input type="text" name="name" required>
				<label for="img">Afbeelding*</label>
				<input type="file" accept="image/*" name="img" required>
				<label for="descr">Beschrijving</label>
				<input name="descr" type="hidden" required></input>
				<div id="editor"></div>
				<button>Bericht toevoegen</button>
			</form>
		</main>
		<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
		<script src="./scripts/quill.js"></script>
</body>

</html>