<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../admin.css">
	<title>Nieuw item</title>
</head>

<body>
	<%- include('./templates/header') %>
		<main>
			<h1>Nieuw item</h1>
			<form action="post-kalender" method="post" encType="multipart/form-data">
				<label for="title">Titel*</label>
				<input type="text" name="title" required>
				<label for="name">Permalink (enkel kleine letters en -)*</label>
				<input type="text" name="name" required>
				<label for="img">Afbeelding</label>
				<input type="file" accept="image/*" name="img">
				<label for="date">Datum*</label>
				<input type="date" name="date" required>
				<label for="timeStart">Van</label>
				<input type="time" name="timeStart">
				<label for="timeEnd">Tot</label>
				<input type="time" name="timeEnd">
				<label for="location">Locatie</label>
				<input type="text" name="location">
				<label for="cost">Prijs (met . geen ,)</label>
				<input type="number" name="cost">
				<label for="costMember">Prijs leden (met . geen ,) </label>
				<input type="number" name="costMember">
				<label for="descr">Beschrijving</label>
				<textarea name="descr" required></textarea>
				<button>Item toevoegen</button>
			</form>
		</main>
</body>

</html>