<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles.css">
	<title>Disclaimer & privacy</title>
</head>

<body>
	<%- include('./templates/header') %>
		<main>
			<h1>Disclaimer & privacy</h1>
			<p>Zuid-Oost-Vlaamse kinekring biedt u deze website en de informatie erop aan op voorwaarde dat u, zonder
				enig voorbehoud,
				instemt met de gebruiksvoorwaarden op deze pagina. Onder ‘informatie’ verstaat Zuid-Oost-Vlaamse
				kinekring alle teksten,
				alle fotografisch materiaal, afbeeldingen en andere grafische items, alle lay-out, sjablonen, templates
				en structuren
				die de constructie, de vorm en de inhoud van deze website uitmaken.</p>
			<h2>1. Aansprakelijkheid</h2>
			<p>Zuid-Oost-Vlaamse kinekring aanvaardt geen enkele aansprakelijkheid voor enige schade die zou kunnen
				voortvloeien uit
				het gebruik van deze website of van de informatie erop. De teksten op deze website bezitten dan ook geen
				enkele
				juridische kracht. Indien u ter ondersteuning van een juridische vraagstelling over de juridisch
				correcte teksten wenst
				te beschikken, kunt u deze schriftelijk aanvragen bij Zuid-Oost-Vlaamse kinekring, Groendal 67, 9500
				Geraardsbergen.
				Zuid-Oost-Vlaamse kinekring heeft veel zorg besteed aan de creatie van deze website. De informatie erop
				komt van
				betrouwbare bronnen en werd waar mogelijk zorgvuldig gecheckt. Dit betekent niet dat Zuid-Oost-Vlaamse
				kinekring de
				juistheid, volledigheid of geschiktheid van de informatie voor welk gebruik dan ook kan garanderen.
				Bovendien kan de
				informatie gewijzigd worden zonder voorafgaande verwittiging. Zuid-Oost-Vlaamse kinekring noch haar
				providers kunnen
				aansprakelijk worden gesteld voor eventuele storingen, fouten of onderbrekingen in de elektronische
				publicaties en
				verwante informatiediensten. Evenmin zijn zij aansprakelijk voor enige schade die het eventueel niet
				correct of
				onvolledig doorsturen van elektronische formulieren kan veroorzaken.</p>
			<h2>2. Gebruik beperkt tot persoonlijke doeleinden</h2>
			<p>De gebruiker is niet gemachtigd om welke informatie dan ook die via deze website wordt bekomen op om het
				even welke
				manier en onder welke vorm dan ook te reproduceren voor niet-persoonlijke doeleinden of commercieel te
				exploiteren.
				Gebruik en reproductie van fotomateriaal is uitdrukkelijk verboden. De eigendomsrechten van deze site
				behoren toe aan
				Zuid-Oost-Vlaamse kinekring of aan de organisaties die Zuid-Oost-Vlaamse kinekring hiervoor binnen het
				kader van deze
				website toestemming hebben gegeven. Iedereen die dit materiaal wenst te gebruiken, dient contact op te
				nemen met
				Zuid-Oost-Vlaamse kinekring, Groendal 67, 9500 Geraardsbergen.</p>
			<h2>3. Links en verwijzingen</h2>
			<p>Deze website bevat hyperlinks naar andere websites en verwijzingen naar andere informatiebronnen.
				Zuid-Oost-Vlaamse
				kinekring controleert deze websites en deze informatie niet systematisch. Het kan dus geen enkele
				garantie bieden
				aangaande de kwaliteit of volledigheid van deze informatie. Het aanbieden van deze hyperlinks impliceert
				niet dat
				Zuid-Oost-Vlaamse kinekring de informatie die deze bronnen bevatten, zou goedkeuren. Noch impliceert dit
				enige
				samenwerking tussen het bestuur en de uitbaters van deze sites. Zuid-Oost-Vlaamse kinekring aanvaardt
				dan ook geen
				enkele aansprakelijkheid voor enige schade die zou kunnen voortvloeien uit het consulteren van
				informatie die zich op
				andere websites of bij andere informatiebronnen bevindt waarnaar de site van Zuid-Oost-Vlaamse kinekring
				verwijst.
				Indien u hyperlinks van op uw eigen website naar deze website wilt creëren, vragen wij in verband met de
				toelaatbaarheid
				ervan vooraf contact op te nemen met Zuid-Oost-Vlaamse kinekring, Groendal 67, 9500 Geraardsbergen.</p>
			<h2>4. Bescherming van de persoonsgegevens</h2>
			<p>De eventuele gegevens die Zuid-Oost-Vlaamse kinekring langs deze website van u ontvangt, worden opgenomen
				in onze
				bestanden. Zij dienen uitsluitend om u informatie te verstrekken die u als kinesitherapeut kan
				aanbelangen en om onze
				dienstverlening aan u te verbeteren. Overeenkomstig de wet van 8 december 1992 over de verwerking van
				persoonsgegevens
				hebt u het recht om de gegevens over u te raadplegen en, indien nodig, te verbeteren. U heeft eveneens
				het recht aan te
				geven dat uw gegevens niet kunnen gebruikt worden voor de vermelde informatieverstrekking. Daartoe neemt
				u contact op
				met Zuid-Oost-Vlaamse kinekring .</p>
			<h2>Welke persoonlijke gegevens we verzamelen en waarom we die verzamelen</h2>
			<h3>Contactformulier</h3>
			<p>Wanneer u contact met ons opneemt ontvangen wij uw e-mail adres, onderwerp en bericht. Dit voor een
				effectieve communicatie en de mogelijkheid om op uw bericht te antwoorden.</p>
			<h3>Inschrijvingsformulier</h3>
			<p>Wanneer u zich inschrijft voor een evenement via een inschrijvingsformulier op onze website, ontvangen
				wij uw naam(voornaam+achternaam), uw e-mail adres en een gedeelte(middelste 7 cijfers) van uw
				riziv-nummer. Ook komen wij te weten of u al dan niet lid bent van axxon. Deze informatie is nodig om uw
				inschrijving te verwerken en de accrediteringspunten te belonen.</p>
			<h2>Hoe lang we jouw data bewaren</h2>
			<p>Informatie vergaard via het inschrijvingsformulier wordt bewaard tot de bijscholing. Andere informatie
				wordt voor altijd bewaard. Indien u wenst dat deze informatie verwijderd wordt neemt u contact op met de
				Zuid-Oost-Vlaamse kinekring.</p>
			<h2>Welke rechten je hebt over je data</h2>
			<p>Indien u wenst dat de informatie die we over u verzameld hebben te verwijderen, neemt u contact op met de
				Zuid-Oost-Vlaamse kinekring. Dit bevat geen gegevens die we verplicht moeten bewaren in verband met
				administratieve, wettelijke of beveiligings
				doeleinden.</p>
		</main>
		<%- include('./templates/footer') %>
</body>

</html>