<header>
	<div id="logo">Zok</div>
	<nav>
		<a href="/" class="nav-button">Home</a>
		<a href="/wie-zijn-wij" class="nav-button">Wie zijn wij</a>
		<a href="/leden" class="nav-button">Leden</a>
		<a href="/contact" class="nav-button">Contact</a>
	</nav>
</header>