<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zok</title>
	<link rel="stylesheet" href="styles.css">
</head>

<body>
	<header>
		<div id="logo">Zok</div>
		<nav>
			<a href="/" class="nav-button">Home</a>
			<a href="/wie-zijn-wij" class="nav-button">Wie zijn wij</a>
			<a href="/leden" class="nav-button">Leden</a>
			<a href="/contact" class="nav-button">Contact</a>
		</nav>
	</header>
	<main>
		<div class="hero">
			<div class="text">
				<h1>Welkom bij Zok</h1>
				<h2>Onze kring verenigt en informeert de kinesitherapeuten van Zuid-Oost-Vlaanderen</h2>
				<a href="/lid-worden">Word lid</a>
			</div>
			<img src="/img/hero.jpg" alt="Photo of person describing a model of a spine">
		</div>
		<div class="hero">
			<img src="/img/belgium.svg" alt="a drawing of belgium">
			<div class="text">
				<h1>Voor wie?</h1>
				<h2>Kinesitherapeuten van Geraardsbergen, Ninove, Brakel, Herzele, Lierde, Oosterzele,
					Sint-Lievens-Houtem en Zottegem</h2>
			</div>
		</div>
		<div class="kalender">
			<div class="title">
				<h2>Kalender</h2>
				<h4>Welke bijscholingen en activiteiten staan er op het programma?</h4>
			</div>
			<div class="kalender-items">
				<div class="event">
					<img src="https://zuid-oost-vlaamsekinekring.be/wp-content/uploads/2019/08/voet-e1565879376466.jpg">
					<h3>Peer review blessurepreventie</h3>
				</div>
				<div class="event">
					<img src="https://zuid-oost-vlaamsekinekring.be/wp-content/uploads/2019/08/voet-e1565879376466.jpg">
					<h3>Peer review blessurepreventie</h3>
				</div>
				<div class="event">
					<img src="https://zuid-oost-vlaamsekinekring.be/wp-content/uploads/2019/08/voet-e1565879376466.jpg">
					<h3>Peer review blessurepreventie</h3>
				</div>
			</div>
		</div>
		<div class="berichten">
			<h2>Berichten</h2>
			<div class="list">
				<div class="bericht">
					<img src="https://zuid-oost-vlaamsekinekring.be/wp-content/uploads/2019/08/voet-e1565879376466.jpg">
					<div class="text">
						<h4>Vacature kineshist</h4>
						<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, delectus dolores!
							Maxime quod incidunt dolore perspiciatis ullam! In accusamus minus sapiente excepturi
							dolore, consectetur beatae, unde nobis dolorum pariatur at! Lorem ipsum dolor sit amet
							consectetur adipisicing elit. Veritatis numquam ex nesciunt quia et dicta praesentium
							architecto consequuntur suscipit, quo nostrum quos perferendis voluptatem magnam id alias,
							eius odio nemo! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni temporibus
							alias neque dolorem adipisci illo, dolorum quod rerum minima reiciendis dicta necessitatibus
							suscipit asperiores esse aspernatur accusamus perspiciatis eum doloremque. Lorem ipsum,
							dolor sit amet consectetur adipisicing elit. Assumenda illo debitis doloremque dolorem
							adipisci asperiores, tempora accusantium laboriosam, nulla, labore ut vel esse nihil fuga?
							Minus similique error quos incidunt? Lorem ipsum, dolor sit amet consectetur adipisicing
							elit. Quos totam, tenetur officia incidunt enim accusamus unde ratione assumenda. Sit, quos
							odit omnis quibusdam numquam dolor rerum laudantium similique soluta quo! Lorem ipsum dolor
							sit amet consectetur adipisicing elit. Aut enim ducimus reiciendis magnam, quis doloremque
							veniam eius, cupiditate hic praesentium incidunt repellat nihil sapiente magni voluptas
							harum architecto suscipit nostrum!</p>
					</div>
				</div>
				<div class="bericht">
					<img src="https://zuid-oost-vlaamsekinekring.be/wp-content/uploads/2019/08/voet-e1565879376466.jpg">
					<div class="text">
						<h4>Vacature kineshist</h4>
						<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, delectus dolores!
							Maxime quod incidunt dolore perspiciatis ullam! In accusamus minus sapiente excepturi
							dolore, consectetur beatae, unde nobis dolorum pariatur at! Lorem ipsum dolor sit amet
							consectetur adipisicing elit. Veritatis numquam ex nesciunt quia et dicta praesentium
							architecto consequuntur suscipit, quo nostrum quos perferendis voluptatem magnam id alias,
							eius odio nemo! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni temporibus
							alias neque dolorem adipisci illo, dolorum quod rerum minima reiciendis dicta necessitatibus
							suscipit asperiores esse aspernatur accusamus perspiciatis eum doloremque. Lorem ipsum,
							dolor sit amet consectetur adipisicing elit. Assumenda illo debitis doloremque dolorem
							adipisci asperiores, tempora accusantium laboriosam, nulla, labore ut vel esse nihil fuga?
							Minus similique error quos incidunt? Lorem ipsum, dolor sit amet consectetur adipisicing
							elit. Quos totam, tenetur officia incidunt enim accusamus unde ratione assumenda. Sit, quos
							odit omnis quibusdam numquam dolor rerum laudantium similique soluta quo! Lorem ipsum dolor
							sit amet consectetur adipisicing elit. Aut enim ducimus reiciendis magnam, quis doloremque
							veniam eius, cupiditate hic praesentium incidunt repellat nihil sapiente magni voluptas
							harum architecto suscipit nostrum!</p>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="sponsors">
			<h3>Onze sponsors</h3>
			<img src="/img/sponsors/gymna.png" alt="Gymna logo">
			<img src="/img/sponsors/trenker.jpg" alt="Trenker laboratories logo">
		</div>
		<div class="contact">
			<h3>Contact</h3>
			<p>
				Groendal 67, 9500 Geraardsbergen <br>
				email: ZOKKinekring@gmail.com <br>
				tel: 054/33.43.41 <br>
			</p>
		</div>
	</footer>
</body>

</html>