<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Zok</title>
	<link rel="stylesheet" href="./styles.css">
	<link rel="stylesheet" href="./styles-index.css">
	<script src="https://kit.fontawesome.com/dc3124471a.js" crossorigin="anonymous"></script>
</head>

<body>
	<main>
		<div class="hero">
			<h2 class="hero-title">Welkom bij ZOK</h2>
			<a class="hero-button" href="./lid-worden.html">Lid worden</a>
		</div>
		<div class="info">
			<h2 class="info-text">Onze kring verenigt en informeert de kinesitherapeuten van Geraardsbergen, Ninove,
				Brakel,
				Herzele, Lierde, Oosterzele, Sint-Lievens-Houtem en Zottegem.</h2>
			<a class="info-button" href="./zok.html">Meer over ZOK</a>
		</div>
		<div class="kalender">
			<h2 class="kalender-title">Kalender</h2>
			<h3 class="kalender-descr">Welke bijscholingen en activiteiten staan er op het programma?</h3>
			<div class="kalender-items">
				<div class="kalender-item">
					<img src="./images/samenwerking.jpg" alt="samenwerking-foto">
					<h4 class="kalender-item-title">14/12/2023 MKO</h4>
				</div>
				<script src="./scripts/add-calendar-items.js" type="module"></script>
			</div>
		</div>
		<div class="kalender">
			<h2 class="kalender-title">Berichten</h2>
			<div class="kalender-items">
				<div class="kalender-item">
					<img src="./images/samenwerking.jpg" alt="samenwerking-foto">
					<h4 class="kalender-item-title">14/12/2023 MKO</h4>
				</div>
			</div>
		</div>
	</main>
	<script src="./scripts/header-footer.js"></script>
</body>

</html>