<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Leden</title>
	<link rel="stylesheet" href="./styles.css">
</head>

<body>
	<%- include('templates/header') %>
		<main style="overflow: scroll;">
			<h1>Onze leden</h1>
			<div class="table-container">
				<table id="lijst-kines">
					<thead>
						<tr>
							<th scope="col">Naam</th>
							<th scope="col">Adress</th>
							<th scope="col">E-mail</th>
							<th scope="col">Telefoon</th>
						</tr>
					</thead>
					<%- include('./templates/lijst') %>
				</table>
			</div>
		</main>
		<%- include('templates/footer') %>
</body>

</html>