<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles.css">
	<title>Lid worden</title>
</head>

<body>
	<%- include('./templates/header') %>
		<main>
			<h1>Lid worden</h1>
			<div class="hero">
				<div class="text">
					<h2>Voordelen voor leden</h2>
					<ul>
						<li>Sterk verminderd tarief voor het bijwonen van onze kringactiviteiten: bijscholingen,
							peer-reviews…</li>
						<li>Je krijgt voorrang voor bijscholingen of peer reviews met beperkt inschrijvingsaantal</li>
						<li>Je praktijk wordt op onze website vermeld en is zichtbaar voor patiënten, huisartsen en
							andere zorgverstrekkers uit de regio.</li>
						<li>Je kunt zoekertjes (te koop, te huur, gezocht…), vacatures of andere berichten op de website
							laten plaatsen.</li>
					</ul>
				</div>

			</div>
		</main>
		<%- include('./templates/footer') %>
</body>

</html>