<footer>
	<div class="sponsors">
		<h3>Onze sponsors</h3>
		<a href="https://gymna.com"><img src="/img/sponsors/gymna.png" alt="Gymna logo"></a>
		<a href="https://www.trenker.be"><img src="/img/sponsors/trenker.jpg" alt="Trenker laboratories logo"></a>
	</div>
	<div class="contact">
		<h3>Contact</h3>
		<p>
			Groendal 67, 9500 Geraardsbergen <br>
			email: ZOKKinekring@gmail.com <br>
			tel: 054/33.43.41 <br>
		</p>
	</div>
</footer>