<header>
	<div id="logo">
		<div style="width: 3em;">
			<a href="/" id="logo-link">
				<div>Zok</div>
			</a>
		</div>
	</div>
	<nav>
		<a href="/" class="nav-button">Home</a>
		<a href="/wie-zijn-wij" class="nav-button">Wie zijn wij</a>
		<a href="/leden" class="nav-button">Leden</a>
		<a href="/contact" class="nav-button">Contact</a>
	</nav>
	<button id="nav-button">☰</button>
	<script src="./scripts/header.js"></script>
</header>