footer {
	background-color: var(--primary);
	padding: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.sponsors {
		h3 {
			font-size: 2rem;
		}

		a {
			background: none;
			padding: initial;

			img {
				height: 5rem;
				width: auto;
			}
		}
	}

	.contact>h3 {
		font-size: 2rem;
	}
}