header {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 1.7rem;
	margin-bottom: 3rem;
	align-items: center;
}

#logo-link {
	background: none;
	color: var(--text);
	padding: 0px;
	border: none;
	font-family: serif;
	font-size: 4rem;
}

#logo-link>div::first-letter {
	font-size: 5.3rem;
	color: var(--accent);
}

#logo {
	flex-grow: 5;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-grow: 4;
	height: 6rem;
}

nav>a {
	position: relative;
	background-color: transparent;
	color: var(--text);
	padding: 0.5rem 0px;
}

nav>a::after {
	content: '';
	display: block;
	position: absolute;
	border-bottom: solid var(--accent) 0.3rem;
	top: 0;
	left: 0;
	height: 80%;
}

nav>a:hover::after {
	animation: underline 0.2s forwards ease-in-out;
}

#nav-button {
	position: relative;
	display: none;
	background: none;
	font-size: 3rem;
	border: none;
	color: var(--text);
	cursor: pointer;
}

@keyframes underline {
	from {
		width: 0%;
	}

	1% {
		width: 1%;
	}

	to {
		width: 100%;
	}
}

@media(max-width:650px) {

	#nav-button {
		display: initial;
	}

	#nav-buttonp {
		position: relative;
		z-index: 10;
	}

	nav {
		pointer-events: none;
		opacity: 0;
		width: 100vw;
		height: 100vh;
		position: absolute;
		right: 0px;
		top: 0px;
		padding: 0px;
		flex-direction: column;
		background-color: var(--background);
		transition: opacity 0.3s;
	}

	nav>a::after {
		display: none;
	}

	.nav-open {
		pointer-events: initial;
		opacity: 1;
		translate: 0px;
	}
}