#topbar {
	display: flex;
	align-items: center;
	justify-content: start;
	width: 100%;
}

img {
	border-radius: 2rem;
	margin: 3rem;
	margin-left: auto;
	width: 10rem;
}

p {
	font-size: 2rem;
	line-height: 2.3;
	margin-left: 2vw;
	width: clamp(30rem, 90vw, 300rem);
}