@import url(/header.css);
@import url(/footer.css);

:root {
  --background: #171a1b;
  --accent: #47d3ff;
  --primary: #2d3435;
  --text: #fffbef;
  --br: 1rem;
}

html {
  color-scheme: dark;
}

body {
  background-color: var(--background);
  color: var(--text);
  margin: 0px;
  font-family: sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}

h3 {
  line-height: normal;
}

a {
  background-color: var(--accent);
  padding: 1rem 2rem;
  border-radius: var(--br);
  text-decoration: none;
  color: var(--background);
  transition: padding 0.5s;
}

a:hover{
  filter: brightness(120%);
}

main {
  margin: 1rem 5vw;
  overflow: visible;
}

p {
  min-height: 1em;
}

p > a {
  background: none;
  color: var(--accent);
  padding: initial;
  text-decoration: underline 2px;
}

p > a:hover {
  filter: brightness(200%);
}

img {
  width: clamp(10px, 100%, 450px);
  object-fit: cover;
  border-radius: var(--br);
}

h1 {
  margin-bottom: 2rem;
  font-size: calc(1.5rem + 1.7vw);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.fa-solid {
  font-size: 0.9em;
}

form {
  display: flex;
  flex-direction: column;
}

form > input {
  background-color: var(--primary);
  border-radius: var(--br);
  color: var(--text);
  border: none;
  padding: 5px 1em;
  margin-bottom: 1rem;
  font-size: 1rem;
}

form > input:focus-visible {
  border: 1px solid var(--accent);
  outline: none;
}

form > #body {
  background-color: var(--primary);
  border: none;
  height: auto;
  min-height: 10rem;
  border-radius: 0.5rem 0.5rem 1.5rem 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  overflow-y: visible;
}

form > button {
  background-color: var(--accent);
  border: none;
  border-radius: var(--br);
  color: var(--background);
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
}

dialog {
  position: fixed;
  background-color: var(--primary);
  color: var(--text);
  border: 0.3rem solid;
  border-radius: var(--br);
  padding: 1rem 3rem;
  animation: dialog-load 1s 0.2s forwards;
}

dialog.success {
  border-color: lime;
}

dialog.error {
  border-color: red;
}

@keyframes dialog-load {
  from {
    bottom: -200px;
  }

  to {
    bottom: 1rem;
  }
}

/* ----hero---- */

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10rem;
}

.hero > .text {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 35rem;
}

.hero > .carousel {
  width: clamp(10px, 100%, 450px);
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel .starter-img {
  opacity: 1;
  z-index: -1;
  transition: none;
}

.carousel img.active {
  opacity: 1;
}

.hero > .text > h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.hero > .text > h2 {
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 4rem;
  font-weight: 500;
}

.hero > .text > a {
  border: solid var(--accent) 0.2rem;
}

.hero > .text > a:hover {
  padding: 1rem 4rem;
  background-color: var(--background);
  color: var(--accent);
}

@media (max-width: 1180px) {
  .hero > img {
    display: none;
  }
}

/* ----kalender---- */

.kalender {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
}

.kalender > .title > h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.kalender > .title > h4 {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.kalender-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-evenly;
  gap: 3rem;
  margin-bottom: 12rem;
  width: 100%;
}

.kalender-items > a {
  background: none;
  color: var(--text);
  padding: 0px;
  border-radius: 0px;
}

.event {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  border-radius: var(--br);
  padding: 2rem;
  transition: all 0.5s;
}

.event > img {
  aspect-ratio: 1/1;
  max-width: 50%;
  border-radius: var(--br);
}

.event > h3 {
  word-wrap: break-word;
  height: 100%;
  text-align: left;
  font-size: 1.75rem;
}

.event:hover {
  translate: 0 -10%;
}

/* ----berichten---- */

.berichten {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-evenly;
  gap: 3rem;
  margin-bottom: 12rem;
  width: 100%;
}

.berichten > .list > a {
  background: none;
  color: var(--text);
  padding: 0px;
  border-radius: 0px;
}

.berichten > h2 {
  font-size: 3rem;
  margin-bottom: 5rem;
}

.berichten > .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.bericht {
  background-color: var(--primary);
  padding: 2rem;
  border-radius: var(--br);
  max-width: 81rem;
  height: 18rem;
  display: flex;
  align-items: start;
  gap: 2.5rem;
  cursor: pointer;
  transition: all 0.5s;
}

.bericht > img {
  border-radius: var(--br);
  min-width: 30%;
  max-width: 30%;
}

.bericht > .text > h4 {
  margin-top: 0px;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.bericht > .text {
  position: relative;
  margin-top: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 15rem;
}

.bericht > .text > p::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, transparent, var(--primary) 80%);
}

.bericht:hover {
  translate: 0 -10%;
}

.kalender-descr {
  display: flex;
  align-items: end;
  gap: 3vw;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}

p {
  margin-top: 0px;
}

/* ----lid-worden---- */

.lid-title {
  text-align: center;
  font-size: 2rem !important;
  font-weight: 800 !important;
  margin-bottom: 1rem !important;
  margin-top: 5rem !important;
}

/* ----leden tabel---- */
/* spacing */

.table-container {
  overflow-x: scroll;
}

table {
  table-layout: fixed;
  min-width: 1500px;
  width: 100%;
  border-collapse: collapse;
}

thead th:nth-child(1) {
  width: min(60vw, 30rem);
}

thead th:nth-child(2) {
  width: 30%;
}

thead th:nth-child(3) {
  width: 30%;
}

thead th:nth-child(4) {
  width: 15%;
}

th,
td {
  padding: 20px;
}

th {
  border: solid 3px var(--primary);
  letter-spacing: 2px;
}

td {
  overflow: hidden;
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

thead {
  background-color: #003142;
}

tbody tr:nth-child(odd) {
  background-color: var(--background);
}

tbody tr:nth-child(even) {
  background-color: #003142;
}

