#topbar {
	display: flex;
	align-items: center;
	justify-content: start;
	width: 100%;
	flex-wrap: wrap;
}

img {
	border-radius: 2rem;
	margin: 3rem;
	margin-left: auto;
	width: 10rem;
}

p {
	font-size: 2rem;
	line-height: 2rem;
	margin-left: 2vw;
	width: clamp(12rem, 98vw, 300rem);
}

br {
	line-height: 10rem;
}

#map {
	aspect-ratio: 1;
	width: clamp(10px, 100vw, 30rem);
	border-radius: 3rem;
	margin: 2vw;
}

.leaflet-tile {
	border-radius: 0px;
}

.leaflet-touch .leaflet-bar a:last-child {
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.leaflet-touch .leaflet-bar a:first-child {
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
}