/*hero*/
.hero {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	/*background-image: url("./images/hero.jpeg");*/
	background-position-y: bottom;
	background-size: fill;
	background-position-x: 70%;
	background-position-y: 40%;
	background-color: var(--background);
	height: 500px;
	padding: 40px;
}

.hero-title {
	font-size: 4rem;
	color: var(--text);
	margin: 50px 0px;

}

.hero-button {
	background-color: var(--primary);
	color: var(--text);
	text-decoration: none;
	padding: 10px 15px;
}

.hero-button:hover {
	padding: 10px 2rem;
	background-color: var(--accent);
	color: var(--text);

}

/*info*/
.info {
	flex-wrap: wrap;
	background-color: var(--primary);
	color: var(--text);
	padding: 10vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 2vw;
}

.info-text {
	font-weight: 500;
	font-size: 30px;
	width: 90vw;
	max-width: 1100px
}

.info-button {
	margin: 5vw;
	border: var(--text) 6px solid;
	padding: 20px 30px;
	color: var(--text);
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
}

.info-button:hover {
	padding: 20px 3rem;
	background-color: var(--text);
	color: var(--primary);
}

/*kalender*/
.kalender {
	display: grid;
	flex-direction: column;
	align-items: center;
}

.kalender-title {
	background-color: var(--primary);
	padding: 0.5rem 1rem;
	margin: auto;
	color: var(--text);
	font-size: 40px;
	margin-top: 3rem;
}

.kalender-title>i {
	font-size: 0.8em;
}

.kalender-descr {
	margin-top: 1.5rem;
	text-align: center;
}

.kalender-items {
	overflow: visible;
	align-self: stretch;
	margin: 60px 2vw;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.kalender-item {
	z-index: 10;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	padding: max(2rem, 2vw);
	background-color: var(--secondary);
	transition-duration: .5s;
	cursor: pointer;
}

.kalender-item:hover {
	translate: 0rem -3rem;
}

.kalender-item>img {
	border-radius: 3rem;
	margin: 0;
	width: clamp(7rem, 50vw, 200px);
	height: clamp(7rem, 50vw, 200px);
}

.kalender-item-title {
	color: var(--text);
	font-size: 25px;
	margin: 1rem;
	padding-right: 1vw;
	text-decoration: 0.2em underline var(--accent);
}

.kalender-item-date {
	color: var(--text);
	font-size: 25px;
	margin: 1rem;
}

.kalender-item-link {
	color: var(--text);
	background-color: var(--primary);
	padding: 20px;
}