:root {
	--background: #171a1b;
	--accent: #47d3ff;
	--primary: #2d3435;
	--text: #fffbef;
	--br: 3.75rem;
}

body {
	background-color: var(--background);
	color: var(--text);
	margin: 0px;
	font-family: sans-serif;
	font-size: 1.25rem;
}

a {
	background-color: var(--accent);
	padding: 1rem 2rem;
	border-radius: var(--br);
	text-decoration: none;
	color: var(--background);
}

/* ----header---- */

header {
	display: flex;
	justify-content: space-between;
	padding: 1.7rem;
	margin-bottom: 12rem;
}

#logo {
	font-family: serif;
	flex-grow: 5;
	font-size: 4rem;

	&::first-letter {
		font-size: 5.3rem;
		color: var(--accent);
	}
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-grow: 4;
	height: 6rem;

	a {
		background-color: transparent;
		color: var(--text);
		text-decoration: none;
	}
}

/* ----hero---- */
.hero {
	display: flex;
	justify-content: space-around;

	.text {
		max-width: 26rem;
	}

	img {

		border-radius: var(--br);
	}
}