<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Pagina niet gevonden</title>
</head>

<body>
  <header>
    <div id="logo">
      <div style="width: 3em;">
        <a href="/" id="logo-link">
          <div>Zok</div>
        </a>
      </div>
    </div>
    <nav>
      <a href="/" class="nav-button">Home</a>
      <a href="/wie-zijn-wij" class="nav-button">Wie zijn wij</a>
      <a href="/leden" class="nav-button">Leden</a>
      <a href="/contact" class="nav-button">Contact</a>
    </nav>
    <button id="nav-button">☰</button>
    <script src="./scripts/header.js"></script>
  </header>
  <main>
    <h1>Pagina niet gevonden</h1>
    <div style="height: 30vh;"></div>
  </main>
  <footer>
    <div class="sponsors">
      <h3>Onze sponsors</h3>
      <a href="https://gymna.com"><img src="/img/sponsors/gymna.png" alt="Gymna logo"></a>
      <a href="https://www.trenker.be"><img src="/img/sponsors/trenker.jpg" alt="Trenker laboratories logo"></a>
    </div>
    <div class="contact">
      <h3>Contact</h3>
      <p>
        Groendal 67, 9500 Geraardsbergen <br>
        email: ZOKKinekring@gmail.com <br>
        tel: 054/33.43.41 <br>
        <a href="/disclaimer">Disclaimer & privacy</a>
      </p>
    </div>
  </footer>
</body>

</html>
