<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Wie zijn wij</title>
  </head>

  <body>
    <header>
      <div id="logo">
        <div style="width: 3em">
          <a href="/" id="logo-link">
            <div>Zok</div>
          </a>
        </div>
      </div>
      <nav>
        <a href="/" class="nav-button">Home</a>
        <a href="/wie-zijn-wij" class="nav-button">Wie zijn wij</a>
        <a href="/leden" class="nav-button">Leden</a>
        <a href="/contact" class="nav-button">Contact</a>
      </nav>
      <button id="nav-button">☰</button>
      <script src="./scripts/header.js"></script>
    </header>
    <main>
      <h1>Wie zijn wij</h1>
      <p>
        De Zuid-Oost-Vlaamse kinekring is een VZW die zich richt tot alle
        kinesitherapeuten uit de regio Geraardsbergen, Ninove, Herzele,
        Zottegem, Brakel, Lierde, Oosterzele en Sint-Lievens-Houtem.
      </p>
      <h2>Bestuur</h2>
      <img src="./img/bestuur.jpg" alt="Foto van de bestuursleden" />
      <p>
        vlnr: penningmeester Katleen Schrever, voorzitter Katrien Eeman,
        bestuurslid Marten Muylaert, secretaris Yves Verbustel
      </p>
      <h2>De rol van de kinekring</h2>
      <p>
        De Zuid-Oost-Vlaamse kinekring heeft als doel de collegialiteit,
        samenwerking en professionaliteit van de lokale kinesitherapeuten te
        bevorderen.<br /><br />

        Wij promoten en vertegenwoordingen de kinesitherapie bij de lokale
        instanties en zorg- en welzijnspartners (huisartsen, verpleegkundigen,
        andere zorgverstrekkers, OCMW’s, welzijnsorganisaties en ziekenhuizen,
        eerstelijnszones). Wij zijn betrokken bij de oprichting van de
        <a href="https://www.eerstelijnszone.be/eerstelijnszone-panacea"
          >eerstelijnszone Panacea</a
        >.<br /><br />

        ZOK informeert zijn leden over belangrijke nieuwsberichten omtrent de
        kinesitherapie. Zowel op lokaal als op nationaal niveau.<br /><br />

        Enkele van onze bestuursleden zetelen in de algemene vergadering van
        <a href="https://www.axxon.be/nl/home/">Axxon</a> en zorgen op die
        manier voor de link tussen de lokale kring en de nationale
        beroepsvereniging.<br /><br />

        Enkele keren per jaar organiseren wij een bijscholing en/of peer-review.
        Alle kinesitherapeuten (leden en niet-leden) kunnen aan deze
        activiteiten deelnemen om zo voldoende navormingseenheden te vergaren om
        te voldoen aan de kwaliteitscriteria van
        <a href="https://www.pqk.be/kine">Pro-Q-Kine</a>.<br /><br />

        Wie lid wordt van ZOK ondersteunt de lokale kinesitherapie, en geniet
        van talrijke voordelen. <a href="/lid-worden">Word nu lid!</a>
      </p>
    </main>
    <footer>
      <div class="sponsors">
        <h3>Onze sponsors</h3>
        <a href="https://gymna.com"
          ><img src="/img/sponsors/gymna.png" alt="Gymna logo"
        /></a>
        <a href="https://www.trenker.be"
          ><img src="/img/sponsors/trenker.jpg" alt="Trenker laboratories logo"
        /></a>
      </div>
      <div class="contact">
        <h3>Contact</h3>
        <p>
          Groendal 67, 9500 Geraardsbergen <br />
          email: ZOKKinekring@gmail.com <br />
          tel: 054/33.43.41 <br />
          <a href="/disclaimer">Disclaimer & privacy</a>
        </p>
      </div>
    </footer>
  </body>
</html>
